/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #F8F3ED;
    height: 100vh;
    padding-top: 70px;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #F8F3ED;
    border: 1px solid #A28578;
    color: #A28578;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.btn-contact button:hover {
    box-shadow: 0px 0px 8px #A28578;
    background-color: #A28578;
    color: white;
    transform: scale(1.1);
}

h2.title {
    color: #000;
    font-size: 2.5rem;
}

h2.title span {
    color: #E796C0;
}

/*HEADER*/
header {
    background-color: #E6D1BD;
    padding: 10px 4%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header>.interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .2s ease-in-out;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 40px;
}

header .btn-contact button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #E4AAC8;
    color: black;
    border: 2px;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.logo p {
    font-size: 3rem;
    margin: 0 0 0 40px; 
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: bold;
    font-weight: 800;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.logo p span{
    color: #E796C0;
}

.logo:hover{
    transform: scale(1.1);
    transition: .2s ease-in-out;
}

/*MENU MOBILE */

.btn-open-menu{
    display: none;
}

.btn-open-menu i{
    color: #CFDFF1;
    font-size: 40px;
}

.menu-mobile{
    background-color: #EBDBCB;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
    width: 0%;
    overflow: hidden;
    transition: .5s;
}

.menu-mobile.open-menu{
    width: 70%;
}

.menu-mobile.open-menu ~ .overlay-menu{
    display: block;
}

.menu-mobile .btn-close{
    padding: 20px 5%;
}

.menu-mobile .btn-close i{
    color: #CFDFF1;
    font-size: 30px;
}

.menu-mobile nav ul{
    text-align: right;
}

.menu-mobile nav ul li a{
    color: #000;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 8%;
    display: block;
}   

.menu-mobile nav ul li a:hover{
    background-color: #CFDFF1;
    color: #000;
}

.overlay-menu{
    background-color: #000000df;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 88888;
    display: none;
}

/*HOME*/
section.home {
    padding: 40px 4%;
    max-width: 1280px;
    margin: 0 auto;
}

section.home .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
    justify-content: space-between;
    margin: 50px;

}

.hi {
    display: flex;
    align-items: center;
}

.hi p {
    margin-right: 10px; /* Adiciona espaço entre o 'Hi!' e a imagem */
}

.hi img {
    max-width: 50px; /* Ajuste o valor conforme necessário */
    height: auto;
}

.name {
    display: flex;
    align-items: center;
}

.name h1{
    margin-left: 10px;
}

.home h1 {
    color: #000;
    font-size: 54px;
    line-height: 60px;
}

.home .txt-home {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home .txt-home h1 span {
    color: #E796C0;
}

.home .txt-home p {
    color: #000;
    margin: 10px 0;
    font-size: 24px;
}

.home .img-home img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 50vh;
    width: auto;
    margin-top: -80px;
}

.home .img-home img:hover{
    transform: scale(1.2);
    transition: .2s ease-in-out;
}


@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*ABOUT*/
section.about {
    padding: 80px 4%;
    display: flex;
    justify-content: center;
}

.about .flex {
    align-items: center;
    gap: 20px;
}

.about .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 350px;
    width: 100%;
}

.about .img-about img {
    max-width: 200px;
    height: auto;
}

.about .img-about img:hover {
    transform: scale(1.2);
    transition: .2s ease-in-out;
}

.about .txt-about {
    color: black;
    text-align: center;
    background-color: #CFDFF1;
    padding: 10px;
}

.about .txt-about p {
    margin: 10px 0;
    text-align: justify;
    font-size: 12px;
}

.about .btn-social{
    justify-content: space-between;

}
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #A28578;
    background-color: #F8F3ED;
    color: #A28578;
    font-size: 22px;
    cursor: pointer;
    margin: 10px 0 20px 5px;
    transition: .2s ease-in-out;
}

.btn-social button:hover {
    box-shadow: 0px 0px 8px #A28578;
    background-color: #A28578;
    color: white;
    transform: scale(1.1);
}

.about .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logos {
    width: 900px;
    height: 70px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    background-color: #F8F3ED;
    display: flex;
    justify-content: center;
    align-items: center;
}

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 60px 0;
    background: #F8F3ED;
    white-space: nowrap;
    position: relative;
    margin-bottom: 15px;
  }
  
  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #F8F3ED);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #F8F3ED);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 40s slide infinite linear;
  }
  
  .logos-slide img {
    height: 60px;
    width: auto;
    margin: 0 20px;
  }

.right {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    align-self: center;
    margin-bottom: 40px;
    display: inline-block;
}

.title h1{
    font-size: 2.5rem;
}
.title span{
    color: #E796C0;
}
.right .interests {
    max-width: 350px;
    flex-basis: auto;
    margin: 0 auto;
}

.right .interests p{
    display: inline-block;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px 5px;
    margin: 5px 0;
    margin-top: 20px;
    font-size: 14px;
}

.soft-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.title {
    margin-bottom: 20px;
}

.title2 h1{
    display: inline-block;
    border: 1px solid #CFDFF1;
    border-radius: 40px;
    padding: 0px 5px;
    margin: 5px 0;
    background-color: #CFDFF1;
    width: 180px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    border: none;
    border-radius: 10px;
    text-align: center;
    flex-basis: calc(33.33% - 20px); /* Set the width of the elements to occupy one-third of the width, with space between them*/
    flex-grow: 1; /*Make the cards occupy all available space in the row*/
    max-width: 200px;
}

.card p{
    font-size: 1rem;
    font-weight: 450;
}

.card img{
    width: 50px;
    height: auto;
}

/*EDUCATION*/
section.education {
    padding: 80px 4%;
}

section.education .flex {
    gap: 60px;
}

.timeline-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #000;
}

.timeline-title span{
    color: #E796C0;
}

.timeline{
    width: 1200px;
}

.timeline ul{
    list-style: none;
    padding-left: 30px;
    margin-left: 70px;
    border-left: 8px solid #E6D1BD;
}

.timeline li{
    margin: 40px 0;
    position: relative;
}

.timeline a{
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    position: absolute;
    top: 20px;
    z-index: 2;
    transition: 0.2s linear;
    font-weight: 700;
}

.timeline b{
    text-decoration: none;
    font-size: 1.2em;
    color: #000;
    position: absolute;
    top: 20px;
    z-index: 2;
    transition: 0.2s linear;
    font-weight: 400;
}

.timeline .date{
    position: absolute;
    top: 50%;
    left: -150px;
    margin-top:-10px;
    font-size: 1em;
}

.timeline .circle{
    position: absolute;
    top: 50%;
    left: -43px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    background-color: #F8F3ED;
    border: 5px solid #E6D1BD;
    border-radius: 50%;
}

.timeline .timeline-content{
    max-height: 500px;
    padding: 50px 20px 0 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    position: relative;
    transition: 0.2 linear;
}

.timeline .timeline-content::before,
.timeline .timeline-content::after{
    content: " ";
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    border: solid transparent;
    transition: 0.2s linear;
}

.timeline .timeline-content::before{
    border-right-color: inherit;
    border-width: 20px;
    top: 50%;
    margin-top: -20px;
}

.timeline .timeline-content::after{
    border-right-color: #F8F3ED;
    border-width: 17px;
    top: 50%;
    margin-top: -17px;
}

.timeline .timeline-content p,
.timeline .timeline-content h1,
.timeline .timeline-content h2{
    max-height: 0;
    color: transparent;
    margin-bottom: 15px;
    transition: 0.2s linear;
}

.timeline .timeline-item:hover a,
.timeline .timeline-item:hover b{
    transform: translateX(42px);
    text-decoration: underline;
}

.timeline .timeline-item:hover .circle{
    background: #E6D1BD;
}

.timeline .timeline-item:hover .timeline-content{
    max-height: 500px;
    border-color: #000;
    margin-right: 20px;
    transform: translateX(20px);
}

.timeline .timeline-item:hover .timeline-content p,
.timeline .timeline-item:hover .timeline-content h1,
.timeline .timeline-item:hover .timeline-content h2{
    max-height: 500px;
    color: #000;
    margin: 5px;
}

.timeline .timeline-item:hover .timeline-content h1,
.timeline .timeline-item:hover .timeline-content h2{
    font-size: 18px;
    font-weight: 500;
}

.timeline .timeline-item:hover .timeline-content h2{
    font-style: italic;
}

.timeline li:last-child {
    margin-bottom: 10px; /*Reduce the bottom margin of the last item in the timeline*/
}

/*PROJECTS*/

section.projects {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.projects .flex {
    justify-content: space-around;
    margin-top: 20px;
}

section.projects .interface {
    text-align: center;
}

.img-port {
    width: 360px;
    height: 400px;
    background-size: cover;
    background-position: 100% 35%;
    transition: 4s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #312f2dbd;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.title span{
    color: #E796C0;
}

/*CONTACT*/
section.contact {
    padding: 80px 4%;
    margin-top: -20px;
}

section.contact .interface {
    text-align: center;
}

section.contact .title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: #000;
}

form{
    background: #E6D1BD;
    width: 40%;
    padding: 20px 40px 20px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
}

form .input-single,
form .message-single{
    position: relative;
    margin: 30px 0;
}

form .input-single label,
form .message-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: all 0.5s;
    color: #4A4B50;
}

form .input-single .input,
form .message-single .message{
    width: 100%;
    border: 0;
    background-color: #E6D1BD;
    border-bottom: 2px solid #4A4B50;
    padding: 5px;
    outline: 0;
    font-size: 16px;
}

form .input-single .input:focus,
form .message-single .message:focus{
    border-bottom: 2px solid #FF007F;
}

form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-25px);
    font-size: 12px;
    color: #FF007F;
}

form .message-single .message:focus ~ label,
form .message-single .message:valid ~ label{
    transform: translateY(-60px);
    font-size: 12px;
    color: #FF007F;
}

form .input-single .textarea{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #4A4B50;
    padding: 5px;
    outline: 0;
    font-size: 16px;
    resize: vertical;
}

form .btn-send {
    text-align: center;
}

form .btn-send input {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #F8F3ED;
    color: #000;
    border: 1px solid #F8F3ED;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

form .btn-send input:hover {
    box-shadow: 0px 0px 8px #F8F3ED;
    transform: scale(1.05);
    background-color: #F8F3ED;
}

form .input-single .textarea:focus ~ label,
form .input-single .textarea:valid ~ label{
    transform: translateY(-80px);
    font-size: 12px;
    color: #FF007F;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.myWrapper {
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column; /* Coloca os thumbs em uma coluna */
    align-items: center; /* Centraliza os thumbs horizontalmente */
    justify-content: center;
    margin-bottom: 20px;
}

#videoHolder {
    text-align: center;
}

#myVideo {
    width: 80%;
    outline: none;
}

.thumbs {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 1;
    margin-bottom: 15px; /* Adiciona uma margem na parte inferior */
}

.thumb {
    flex: 0 0 150px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #E6D1BD;
    border: 1px solid #E6D1BD;
    color: #000;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s ease-in-out;
    margin: 0 5px;

}

.thumb:hover {
    box-shadow: 0px 0px 8px #E6D1BD;
    transform: scale(1.1);
}

@media only screen and (max-width: 1280px) {
    #videoHolder,
    form {
        width: 100%; /* Em telas menores que 1280px, cada item ocupa toda a largura */
    }
}


/*FOOTER*/
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.border {
    border-top: 2px solid #E6D1BD;
}

footer .line-footer p i {
    color: #E6D1BD;
    font-size: 22px;
}

footer .line-footer p a {
    color: #000;
}

@media screen and (max-width: 1280px) {

/*PROJECTS - MOBILE STYLE*/
section.portfolio {
    padding: 80px 8%;
}

.img-port {
    width: 100%;
    max-width: 360px;
    margin: 20px auto;
}

section.portfolio .flex {
   gap: 60px;
}

.home h1 {
    color: #000;
    font-size: 30px;
    line-height: 60px;
}

.home .txt-home{
    padding: 0;
}

}

/* FOOTER */
footer {
    padding: 10px 4%;
    background-color: #72B0F3;
}

footer .flex {
    align-items: center;
    justify-content: space-between;
}

footer .btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #F8F3ED;
    background-color: #F8F3ED;
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin: 10px 0 20px 5px;
    transition: .2s ease-in-out;
}

footer .btn-social button:hover {
    box-shadow: 0px 0px 8px #F8F3ED;
    background-color: #F8F3ED;
    color: #FF007F;
    transform: scale(1.1);
} 

footer .logo span{
    color: #F8F3ED;
    margin-left: 5px;
}

footer .logo:hover span{
    color: #FF007F;
}

footer .line-footer {
    padding: 10px 0 0 0;
}

.border{
    border-top: 2px solid #F8F3ED;
    margin-left: 40px;
}

footer .line-footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

footer .line-footer i.bi-envelope-fill {
    margin-right: 5px;
    font-size: 22px;
    color: black;
}

@media screen and (max-width: 1280px) {
    /* GENERAL CLASSES */
    .flex{
        flex-direction: column;
    }

    .home .flex{
        flex-direction: column-reverse;
    }
    /* HEADER */
    .menu-desktop, .btn-contact{
        display: none;
    }

}